$main-text-color: #212121;
$text-p-color:  #757575;
$accent-color-blue: #2196F3;
$buttom-grey: #F5F4FA;
$white-minor: #ffffff;
$footer-hero-bgr-color: #2F303A;
$border-color: #ECECEC;
$icons-color: #AFB1B8;
$black-text:  #000000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$footer-link: rgba(255, 255, 255, 0.6);